# Vue - Frontend
/gl-reactor/.quasar
/gl-reactor/.vscode
/gl-reactor/dist
/gl-reactor/node_modules

# Fast API - Backend
/gl-reactor-rest/glenv
/gl-reactor-rest/.env
**/__pycache__/
*.py[cod]

# Dot Net - Vault API
/gl-vault-api/.vs
/gl-vault-api/VaultWebApplication/bin
/gl-vault-api/VaultWebApplication/obj
/gl-vault-api/VaultWebApplication/SDK Ref
.env


# VS Code
.vscode
.vscode/launch.json
demo.md
compo_list.json
.continue/agents/new-config.yaml
gl-reactor-rest/reactor_preparation/monoblock_data.py
